@page
@using VolgaIT2022App5.Models;
@model VolgaIT2022App5.Pages.Home.AppsModel
@{
}
<table class="table mt-5">
<tr><th>Название</th><th>Описание</th><th>Индентификатор</th><th>кол-во POST</th><th>кол-во GET</th></tr>
@foreach (var App in Model.UserAppList){
<tr><td>@App.Name</td><td>@App.Desc</td><td>@App.Identity</td><td>@Model.GetCount(App.Identity,EventType.POST)</td><td>@Model.GetCount(App.Identity, EventType.GET)</td></tr> 
}
</table>